.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.errorCheckName {
    width: 175rem;
}

.spacer {
    width: 24rem;
}

.smallButton {
    width: 18rem !important;
    height: 18rem !important;
}

.disableState {
    width: 60rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}