.columnGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.rowGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.panel {
    position: absolute;
    top: 10rem;    
    left: 600rem;
    flex-direction: flex-start;
    font-size: 14rem !important;
}


.subtitleSpanLeft {
    width: 10rem;
}

.subtitleSpanMiddle {
    width: 90rem;
}

.subtitleSpanRight {
    width: 15rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.subtitleRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}